* {
  margin: 0;
  padding: 0;
  }

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #3f4850;
}

h2 {
  font-size: 2em;
  margin: 52px 0 40px;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* search form */
.search-form {
  max-width: 460px;
  display: flex;
  margin: 0 auto 32px;
}

.search-form button {
  outline: none;
  background-color: #438bbd;
  border: none;
  padding: 0px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
}

input {
  font-size: 1em;
  width: 100%;
  background-color: #edeff0;
  padding: 10px 15px;
  border: 3px solid #d7dbdf;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
}

/* nav bar */
.main-nav li {
  width: 100%;
  margin-bottom: 1em;
}

.main-nav a {
  display: block;
  background: #438bbd;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
}

.main-nav .active,
.main-nav a:hover,
.search-form button:hover {
  background-color: #275270;
}

/* gallery */
.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.photo-container ul li {
  width: 220px;
  height: 165px;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.photo-container ul img {
  width: 100%;
  transform: scale(1.25);
  transition: transform 1.25s;
}

.photo-container li:hover img {
  transform: scale(1.65);
}

.photo-container .not-found {
  width: 100%;
}

/* File not found */
.page-not-found {
  background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('/images/error.jpg') no-repeat center / cover;
  height: 100vh;
  color: #fff;
  position: relative;
}

.error-message{
  position: absolute;
  top: 40%;
  left: 25%;
}

.error-message h1{
  font-size: 60px;
}

.error-message h2{
  font-size: 45px;
}

.error-message a{
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.5s ease-in-out;
}

.error-message a:hover{
  border-bottom: 3px solid #fff;
}

/* LOADING ANIMATION */
/* //credit for the awesome spinner goes to Luke Haas --> https://projects.lukehaas.me/css-loaders/ */
.loader,
.loader:before,
.loader:after {
  background: #438bbd;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #438bbd;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}

/* MODAL and OVERLAY */
.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 50%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #000;
  padding: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  opacity: 1;
  transition: all 0.3s ease-out;
}

.modal h3{
  text-transform: capitalize;
  margin: 25px 0;
  font-size: 45px;
}

.modal img {
  border-radius: 5px
}

.modal.hide {
  transform: translateY(-200%);
  opacity: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@media only screen and (max-width: 767px)  {
  .container {
    padding-top: 2em;
  }

  .photo-container li {
    margin: auto;
  }
}

@media only screen and (min-width: 768px)  {
  .container {
    padding-top: 4em;
  }

  .container {
    max-width: 960px;
    margin: auto;
  }

  .main-nav ul {
    display: flex;
    justify-content: center;
  }
  
  .main-nav li {
    margin: 10px;
    width: 100px;
  }
}